input {
  height: 30px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.d-flex {
  display: flex;
  gap: 15px;
}

.mt-small {
  margin-top: 10px;
}

/* .mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 6px;
} */

.education {
  width: 100%;
  height: 30px;
}

.action-btn {
  justify-content: end;
  padding: 0px 15px 20px;
}
